name: Update wiki docs

on:
  release:
    types: [published]

concurrency:
  group: wiki
  cancel-in-progress: true

permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.6'

    - name: Build Binary and generate doc markdown files
      run: |
        mkdir -p output
        go build -o output/azcopy
        cd output
        ./azcopy doc --format wiki
        cd doc
        sed -i 's/\.md//' *

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: output/doc/

    - name: Checkout Wiki
      uses: actions/checkout@v4
      with:
        repository: ${{github.repository}}.wiki
        path: ${{github.repository}}.wiki

    - name: Push to wiki
      run: |
        set -e
        cd $GITHUB_WORKSPACE/${{github.repository}}.wiki
        cp -r ../../output/doc/* .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git diff-index --quiet HEAD || git commit -m "action: wiki sync" && git push
